* {
    box-sizing: border-box;
}

#gameContainer {
    margin: 10px 10px;
    /* background-color: beige; */
}

#sideContainer {
    flex: 1;
    min-width: 300px;
    margin: 0 0 0 10px;
    /* background-color: gray; */
}

#inputContainer{
    margin: 10px 0 0 0;
    height: 34px;
}

#drawContainer {
    width: 1024px;
    height: 0;
    padding-bottom: 40%;
    border: 1px solid #000000;
    border-radius: 2px;
    
}

#chatBox {
    height: calc(100% - 44px);
    border: 1px solid black;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
}

#message {
    padding: 0 0 0 5px;
    margin: 0 10px 0 0;
    width: 90%;
    border: 1px solid black;
    border-radius: 2px;
}
